<!DOCTYPE html>
<html>
<head>
  <title>IdealspaceNew</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body background="background.jpg">
  <nav class="N/A transparent">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"> Ideal Space </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href=""><%= link_to 'Plots', plots_path %></a></li>
        <li><a href=""> <%= link_to 'Apartments', apartments_path %></a></li>
        <li><a href=""> <%= link_to 'Offices', offices_path %></a></li>
      </ul>
    </div>
  </nav>

<%= yield %>

</body>
</html>
